body {
    
    background-color: rgb(221, 248, 244);
    display: flex;
    justify-content: space-between;
  }
  
  .block1 {
    /* border: 1px solid grey; */
    flex-basis: 45%;
    text-align: center;
    height: 100%;
}


  .block2 {
    /* border: 1px solid grey; */
    flex-basis: 50%;
    text-align: center;
    height: 100vh;
  }

  h1 {
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    margin: 0.2em;
    color:rgb(255, 102, 0)
  }
  
  .canvas {
    font-size: 2em;
  }
  
  table,
  tr,
  td {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  tr {
    height: 40px;
  }
  
  td {
    width: 40px;
  }
  
  input[type="number"] {
    width: 6em;
  }
  